* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.news-letter-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 19px;
}

.news-main,
.newsletter {
    max-width: 1276px;
    margin: 0px auto;
    padding: 0px 12px;
}

.news-letter-subtitle img {
    max-width: 351px;
}

.news-letter-subtitle p {
    line-height: 36px;
    font-size: 15px;
}

.newsletter-description p {
    margin-bottom: 15px;
    line-height: 26px;
    font-size: 15px;
}

.newsletter-description p:nth-child(8) {
    display: flex;
    flex-direction: column;
}

.newsletter_banner_img img {
    width: 100%;
    margin-bottom: 10px;
}

.newsletter a {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.news-main h1 {
    border: 1px solid;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(232, 76, 61);
    color: white;
    font-size: 29px;
    margin-bottom: 20px;
}

.news-letter-container {
    display: flex;
    width: 100%;
    gap: 27px;
}

.news-letter-folder1 {
    width: 77%;
}

.news-letter-folder2 {
    width: 23%;
}

.news-feild {
    list-style: none;
    padding: 17px;
    text-align: center;
    margin: 25px 0px;
}
.news-dropdrown-menu{
    padding-left: 24px;
}
.news-dropdrown-menu li{
    margin-bottom: 10px;
}
.news-feild{
    background-color: rgb(232, 76, 61);
    color: white;
}
.news-latter-right-field-folder ul div:nth-child(2) .news-feild {
    background: #438b8b;
}
.news-latter-right-field-folder ul div:nth-child(3) .news-feild {
    background: #da9a31;
}
.news-latter-right-field-folder ul div:nth-child(4) .news-feild {
    background: #996ada;
}
.news-latter-right-field-folder ul div:nth-child(5) .news-feild {
    background: #9cc255;
}




/* page-saata-conference-updates start */
.page-saata-conference-updates .newsletter-description ul{
    padding-left: 59px;
}
/* page-saata-conference-updates end */

/* page-news-from-the-research-and-publications-team start */
.page-news-from-the-research-and-publications-team .newsletter-description ul{
    padding-left: 65px;
}
/* page-news-from-the-research-and-publications-team end */

/* page-unmute-please start */
.page-unmute-please .newsletter-description ul{
    padding-left: 65px;
}
/* page-unmute-please end */

/* .news-letter-folder2 a {
    text-decoration: none;
    color: #fff;
}

.news-letter-right-field {
    text-align: center;
    padding: 15px 0px;
}

.news-letter-right-field a {
    color: white;
    text-decoration: none;
} */

/* .news-latter-right-field-folder {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.news-letter-right-field-image a {
    width: 100%;
}

.news-letter-dropdown-field:nth-child(2) .news-letter-right-field {
    background-color: #088b8b;
}

.news-letter-right-field:nth-child(3) {
    background-color: #996ada;
}

.news-letter-dropdown-field:nth-child(4) .news-letter-right-field {
    background-color: #da9a31;
}

.news-letter-right-field:nth-child(5),
.news-letter-right-field:nth-child(7) {
    background-color: #9cc255;
}

.TA-NEWS-dropdown-menu {
    transform: translateX(23px);
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 262px;
}

.TA-NEWS-dropdown-menu li a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.news-letter-right-field-image img {
    width: 100%;
} */