body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Top-Header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.logo img {
  max-width: 339px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  margin: 0px 10px;
  font-size: 16px;
  color: #757575;
}

.banner-slider-image img {
  width: 100%;
}

.banner-slider-folder .slick-prev {
  left: 11px;
  z-index: 2;
}

.banner-slider-folder .slick-next {
  right: 15px;
}

.banner-slider-folder .slick-prev:before,
.banner-slider-folder .slick-next:before {
  font-size: 32px;
  line-height: 1;
  opacity: 0.75;
  color: #fffdfd;
}

.info-container {
  text-align: center;
  padding: 80px 0px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-container:nth-child(2) .read-more {
  background: #fffdfd;
  color: #A37BB6;
}

.info-title {
  font-size: 39px;
}

.info-desc {
  font-size: 18px;
  line-height: 31px;
  max-width: 1170px;
  margin: 0px auto 30px auto;
}

.read-more {
  padding: 13px 25px;
  font-size: 17px;
  border-radius: 8px;
  border: none;
  background: #a37bb6;
  color: white;
  cursor: pointer;
}

.info-container:nth-child(2) {
  background-color: #a37bb6;
  color: white;
  /* padding: 50px 0px; */
}

.info-title {
  position: relative;
}

.info-title::before {
  background: #A37BB6;
  bottom: -7px;
  content: "";
  height: 4px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  width: 60px;
  margin-top: 5px;
}

.info-container:nth-child(2) .info-title::before {
  background: #fffdfd;
}

.info-container .read-more:nth-child(2) {
  background-color: white !important;
  color: #a37bb6 !important;
}

.board-of-members-blog-box-section {
  width: 300px;
  text-align: center;
}

.board-of-members-image {
  max-width: 240px;
  margin: 0px auto;
}

.board-of-members-image img {
  width: 100%;
}

.board-of-members-blog-box-section h2 {
  font-size: 27px;
  margin: 33px 0px -11px 0px;
  color: #fffdfd;
}

.board-of-members-blog-box-section p {
  font-size: 17px;
  color: #fffdfd;
  font-style: italic;
}

.board-of-members-section {
  background: url('./Images/12232.jpg')no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.board-of-members-folder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;

}

.Board-of-Members-title {
  text-align: center;
  font-size: 35px;
  margin: 0px 0px 41px 0px;
  color: #ffff;

}

.contact {
  /* background: url('./Images/loction.png')no-repeat; */
  min-height: 600px;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.input_wrapper {
  display: flex;
  gap: 12px;
}

.contact_form {
  /* background: #fffdfd; */
  background: #c0bec1;
  width: 400px;
  height: auto;
  padding: 16px 20px;
  border-radius: 15px;
}
.map{
  margin-top: 10px;
  height: 300px;

}
.contact_wrapper{
  display: flex;
  justify-content: center;
  gap: 18px;
  /* align-items: center; */
  justify-content: center;
  margin: auto;
}
.contact_form h2 {
  font-size: 40px;
  color: #fff;
  margin: 6px 0px;
}

.contact_form p {
  font-size: 16px;
  color: #fff;
}

.contact_form .input_field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}

.contact_form input {
  padding: 15px 0px 15px 20px;
  font-size: 18px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #757575;
  color: #757575;
}

.contact_form .input_field i.input-icons {
  position: absolute;
  right: 10px;
  font-size: 18px;
  color: #A37BB6;
}

.contact_form textarea {
  margin: 10px 0px;
  font-size: 18px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #757575;
  color: #757575;
}

.submit_btn button {
  padding: 10px 40px;
  text-align: center;
  background: #A37BB6;
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  color: #fffdfd;
  border-radius: 15px;
}

.footer {

  background-color: #757575;
}

.footer_wrapper {
  margin: 10px 30px;
  margin-bottom: 0px;
}

.get_d_fex {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 30%;
  border-bottom: 1px solid #fffdfd;
  margin-top: 55px;
  margin-bottom: 40px;
}

.footer_logo img {
  width: 124px;
  background: white;
  margin-top: 32px;
  margin-bottom: 12px;
}

.footer_menu ul {
  list-style: none;
}

.footer_menu li {
  margin: 10px;
  border-bottom: 1px solid #fffdfd;
}

.footer_menu ul a {
  text-decoration: none;
  color: #fffdfd;
  font-size: 16px;
}

.social_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.social_icon a {

  text-decoration: none;
  font-size: 25px;
  margin: 0 10px;
  border-radius: 50px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: #fff;
  margin-bottom: 10px;
}

.social_icon a>.fa-facebook {
  color: #1D41FF;
}

.social_icon a>.fa-twitter {
  color: #0085FF;
}

.social_icon a>.fa-youtube {
  color: #FF0000;
}

.footer_menu {
  display: flex;
  justify-content: center;
  margin: auto;
}

.copy_right {
  padding: 15px 0px;
}

.copy_right p {
  text-align: center;
  color: #fffdfd;
  margin: 0;
  padding: 0;
}