// $primary-color: #007bff;

.main-container {
  // background-color: $primary-color;
  color: #fff;
  padding: 1rem;
}
.page-membership-details, 
.page-ta-101-program-details{
  .about_us{
    max-width: 1258px;
    margin: 0px auto;
      .about_us_wrapper {
          h2{
            text-align: left;
            width: 100%;
            font-size: 30px;
            color: #a37bb6;
            margin-left: 20px;
            margin-top: 20px;
          }
        }
        .about_us_content{ 
          p{
            font-size: 15px;
            padding-bottom: 12px;
            margin-top: 0px !important;
          }
          ul{
            transform: translateX(21px);
          }
          table{
            border: 1px solid;
            width: 100%;
            border-collapse: collapse;
              tr {
                th{
                  border-bottom: 1px solid black;
                  background-color: #a37bb6;
                  color: white;
                  p{
                    padding: 20px 18px;
                    font-size: 15px;
                    margin-top: 0px !important;
                  }
                }
              }
              tr:nth-child(3), 
              tr:nth-child(5){
                background-color: #a37bb64d;
              }
              tr{
                td{
                  padding: 20px 0px;
                  font-size: 15px;
                  border-bottom: 1px solid black;
                    p{
                      padding: 0px 18px;
                        a{
                          text-decoration: none;
                        }
                    }
                }
              }
          }
    }
  }
  .about_us::before{
    background: none;
  }
}
.page-ta-101-program-details{
  .about_us_content{
    table{
      margin: 60px 0px 30px 0px;  
      tr{
        th{
          p{
            text-align: center;
          }
        }
      }
      tr{
        td{
          p{
            text-align: center;
          }
        }
      }
    }
  }
}